distribute==0.6.24dev_r0
docopt==0.6.2
psutil==5.0.1
Adafruit_GPIO==1.0.3
Adafruit_SSD1306==1.6.1
Image==1.5.24
Pillow==5.1.0
argcomplete==1.9.4
mock==2.0.0
pygame==1.9.3
pytest==3.6.0
setuptools==39.2.0
smbus2==0.2.0
spidev==3.2
tweepy==3.6.0
